@model VOD.Models.Filmy

@{
    ViewData["Title"] = "Wykup";
}

<h2>Wykup</h2>

<h3>Jesteś pewien, że chcesz kupić ten film?</h3>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TytulOrg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TytulOrg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TytulPol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TytulPol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataPremiery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataPremiery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gatunek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gatunek.Gatunek)
        </dd>
    </dl>

    <form asp-action="Wykup">
        <input type="submit" value="Wykup" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
